body{
 background: #FA6900;
 margin: 0;
}

.container {
 position: relative;
 width: 400px;
 
}
.container img {
 padding-left: 0%;
 padding-right: 0px;
 width: 100%;
 display: block;
}

.texte{
 transform: translate(-50%, -50%);
 position: absolute;
 top: 5%;
 left: 5%;
 color: orangered;
 font-size: 24px;
 font-weight: bold;
 text-shadow: 2px 2px 5px black;
}

.mot{
 transform: translate(-50%, -50%);
 position: absolute;
 top: 5%;
 left: 16.5%;
 color: whitesmoke;
 font-size: 24px;
 font-weight: bold;
 text-shadow: 2px 2px 5px black;
}

p {
 margin-top: 0%;
 margin-left: 4px;
 text-align: left right;
 font-family: "Times New roman";
 font-size: 10px;
 color: whitesmoke;
}

ul {
 margin-top: 0%;
 margin-left: 4px;
 text-align: left right;
 font-family: "Times New roman";
 font-size: 10px;
 color: whitesmoke;
 
}


.passion{
 margin-top: 30px;
 margin-bottom: 20px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: black;
 font-size: 16px;
}

.para img{
 position: absolute;
 width: 50%;
 left: 47%;
 border-radius: 10%;
 margin-right: 40px;
 margin-top: 7%;
}

.image {
 display: flex;
 
}

.image img{
 margin: 14px;
 margin-top: 50px;
 width: 100px;
 height: 230px;
 transition: 0.3sease;
} 


 .image {
  overflow: hidden;        /* Empêche l’image de dépasser */
  
 }
.image img {
           transition: 0.3s ease;
 
}

.image img:hover,
.image img:active {
 transform: scale(1.4);   /* Zoom */
 
}
   



